@charset "UTF-8";
/* Переменные */
/* Иконки */
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-Black.eot");
  src: url("../assets/font/Poppins-Black.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-Black.ttf") format("truetype"), url("../assets/font/Poppins-Black.woff") format("woff"), url("../assets/font/Poppins-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-BlackItalic.svg");
  src: url("../assets/font/Poppins-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-BlackItalic.ttf") format("truetype"), url("../assets/font/Poppins-BlackItalic.woff") format("woff"), url("../assets/font/Poppins-BlackItalic.svg") format("svg");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-ExtraBold.eot");
  src: url("../assets/font/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-ExtraBold.ttf") format("truetype"), url("../assets/font/Poppins-ExtraBold.woff") format("woff"), url("../assets/font/Poppins-ExtraBold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-ExtraBoldItalic.svg");
  src: url("../assets/font/Poppins-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-ExtraBoldItalic.ttf") format("truetype"), url("../assets/font/Poppins-ExtraBoldItalic.woff") format("woff"), url("../assets/font/Poppins-ExtraBoldItalic.svg") format("svg");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-Bold.eot");
  src: url("../assets/font/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-Bold.ttf") format("truetype"), url("../assets/font/Poppins-Bold.woff") format("woff"), url("../assets/font/Poppins-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-BoldItalic.svg");
  src: url("../assets/font/Poppins-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-BoldItalic.ttf") format("truetype"), url("../assets/font/Poppins-BoldItalic.woff") format("woff"), url("../assets/font/Poppins-BoldItalic.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-SemiBold.eot");
  src: url("../assets/font/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-SemiBold.ttf") format("truetype"), url("../assets/font/Poppins-SemiBold.woff") format("woff"), url("../assets/font/Poppins-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-SemiBoldItalic.svg");
  src: url("../assets/font/Poppins-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-SemiBoldItalic.ttf") format("truetype"), url("../assets/font/Poppins-SemiBoldItalic.woff") format("woff"), url("../assets/font/Poppins-SemiBoldItalic.svg") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-Medium.eot");
  src: url("../assets/font/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-Medium.ttf") format("truetype"), url("../assets/font/Poppins-Medium.woff") format("woff"), url("../assets/font/Poppins-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-MediumItalic.svg");
  src: url("../assets/font/Poppins-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-MediumItalic.ttf") format("truetype"), url("../assets/font/Poppins-MediumItalic.woff") format("woff"), url("../assets/font/Poppins-MediumItalic.svg") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-Regular.eot");
  src: url("../assets/font/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-Regular.ttf") format("truetype"), url("../assets/font/Poppins-Regular.woff") format("woff"), url("../assets/font/Poppins-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-Italic.svg");
  src: url("../assets/font/Poppins-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-Italic.ttf") format("truetype"), url("../assets/font/Poppins-Italic.woff") format("woff"), url("../assets/font/Poppins-Italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-Light.eot");
  src: url("../assets/font/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-Light.ttf") format("truetype"), url("../assets/font/Poppins-Light.woff") format("woff"), url("../assets/font/Poppins-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-LightItalic.svg");
  src: url("../assets/font/Poppins-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-LightItalic.ttf") format("truetype"), url("../assets/font/Poppins-LightItalic.woff") format("woff"), url("../assets/font/Poppins-LightItalic.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-ExtraLight.eot");
  src: url("../assets/font/Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-ExtraLight.ttf") format("truetype"), url("../assets/font/Poppins-ExtraLight.woff") format("woff"), url("../assets/font/Poppins-ExtraLight.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-ExtraLightItalic.svg");
  src: url("../assets/font/Poppins-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-ExtraLightItalic.ttf") format("truetype"), url("../assets/font/Poppins-ExtraLightItalic.woff") format("woff"), url("../assets/font/Poppins-ExtraLightItalic.svg") format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-Thin.eot");
  src: url("../assets/font/Poppins-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-Thin.ttf") format("truetype"), url("../assets/font/Poppins-Thin.woff") format("woff"), url("../assets/font/Poppins-Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-ThinItalic.svg");
  src: url("../assets/font/Poppins-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-ThinItalic.ttf") format("truetype"), url("../assets/font/Poppins-ThinItalic.woff") format("woff"), url("../assets/font/Poppins-ThinItalic.svg") format("svg");
  font-weight: 100;
  font-style: italic;
}
/* Модальное окно */
/* line 4, style.scss */
* {
  box-sizing: border-box;
}

/* line 7, style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', arial;
  overflow-x: hidden;
  background-color: white;
}

/* Стиль по умолчанию */
/* Основные стили */
/* Опциональные стили */
/* Медиа запросы */
