@charset "UTF-8";
/* Переменные */
/* line 2, _ico.scss */
.icon__search {
  background-image: url("../assets/img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* line 8, _ico.scss */
.icon__audio-search {
  background-image: url("../assets/img/a-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* line 14, _ico.scss */
.icon__option {
  background-image: url("../assets/img/option.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px auto;
}
/* line 20, _ico.scss */
.icon__alert {
  background-image: url("../assets/img/alert.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 20px;
}
/* line 26, _ico.scss */
.icon__scooter {
  background-image: url("../assets/img/scooter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 12px;
}
/* line 32, _ico.scss */
.icon__b-alert {
  background-image: url("../assets/img/b-alert.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* line 38, _ico.scss */
.icon__map {
  background-image: url("../assets/img/map.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* line 44, _ico.scss */
.icon__star {
  background-image: url("../assets/img/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Иконки */
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-Black.eot");
  src: url("../assets/font/Poppins-Black.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-Black.ttf") format("truetype"), url("../assets/font/Poppins-Black.woff") format("woff"), url("../assets/font/Poppins-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-BlackItalic.svg");
  src: url("../assets/font/Poppins-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-BlackItalic.ttf") format("truetype"), url("../assets/font/Poppins-BlackItalic.woff") format("woff"), url("../assets/font/Poppins-BlackItalic.svg") format("svg");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-ExtraBold.eot");
  src: url("../assets/font/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-ExtraBold.ttf") format("truetype"), url("../assets/font/Poppins-ExtraBold.woff") format("woff"), url("../assets/font/Poppins-ExtraBold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-ExtraBoldItalic.svg");
  src: url("../assets/font/Poppins-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-ExtraBoldItalic.ttf") format("truetype"), url("../assets/font/Poppins-ExtraBoldItalic.woff") format("woff"), url("../assets/font/Poppins-ExtraBoldItalic.svg") format("svg");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-Bold.eot");
  src: url("../assets/font/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-Bold.ttf") format("truetype"), url("../assets/font/Poppins-Bold.woff") format("woff"), url("../assets/font/Poppins-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-BoldItalic.svg");
  src: url("../assets/font/Poppins-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-BoldItalic.ttf") format("truetype"), url("../assets/font/Poppins-BoldItalic.woff") format("woff"), url("../assets/font/Poppins-BoldItalic.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-SemiBold.eot");
  src: url("../assets/font/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-SemiBold.ttf") format("truetype"), url("../assets/font/Poppins-SemiBold.woff") format("woff"), url("../assets/font/Poppins-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-SemiBoldItalic.svg");
  src: url("../assets/font/Poppins-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-SemiBoldItalic.ttf") format("truetype"), url("../assets/font/Poppins-SemiBoldItalic.woff") format("woff"), url("../assets/font/Poppins-SemiBoldItalic.svg") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-Medium.eot");
  src: url("../assets/font/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-Medium.ttf") format("truetype"), url("../assets/font/Poppins-Medium.woff") format("woff"), url("../assets/font/Poppins-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-MediumItalic.svg");
  src: url("../assets/font/Poppins-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-MediumItalic.ttf") format("truetype"), url("../assets/font/Poppins-MediumItalic.woff") format("woff"), url("../assets/font/Poppins-MediumItalic.svg") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-Regular.eot");
  src: url("../assets/font/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-Regular.ttf") format("truetype"), url("../assets/font/Poppins-Regular.woff") format("woff"), url("../assets/font/Poppins-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-Italic.svg");
  src: url("../assets/font/Poppins-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-Italic.ttf") format("truetype"), url("../assets/font/Poppins-Italic.woff") format("woff"), url("../assets/font/Poppins-Italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-Light.eot");
  src: url("../assets/font/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-Light.ttf") format("truetype"), url("../assets/font/Poppins-Light.woff") format("woff"), url("../assets/font/Poppins-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-LightItalic.svg");
  src: url("../assets/font/Poppins-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-LightItalic.ttf") format("truetype"), url("../assets/font/Poppins-LightItalic.woff") format("woff"), url("../assets/font/Poppins-LightItalic.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-ExtraLight.eot");
  src: url("../assets/font/Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-ExtraLight.ttf") format("truetype"), url("../assets/font/Poppins-ExtraLight.woff") format("woff"), url("../assets/font/Poppins-ExtraLight.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-ExtraLightItalic.svg");
  src: url("../assets/font/Poppins-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-ExtraLightItalic.ttf") format("truetype"), url("../assets/font/Poppins-ExtraLightItalic.woff") format("woff"), url("../assets/font/Poppins-ExtraLightItalic.svg") format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-Thin.eot");
  src: url("../assets/font/Poppins-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-Thin.ttf") format("truetype"), url("../assets/font/Poppins-Thin.woff") format("woff"), url("../assets/font/Poppins-Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../assets/font/Poppins-ThinItalic.svg");
  src: url("../assets/font/Poppins-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Poppins-ThinItalic.ttf") format("truetype"), url("../assets/font/Poppins-ThinItalic.woff") format("woff"), url("../assets/font/Poppins-ThinItalic.svg") format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Noto';
  src: url("../assets/font/NotoSans.eot");
  src: url("../assets/font/NotoSans.eot?#iefix") format("embedded-opentype"), url("../assets/font/NotoSans.ttf") format("truetype"), url("../assets/font/NotoSans.woff") format("woff"), url("../assets/font/NotoSans.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto';
  src: url("../assets/font/NotoSans-Bold.eot");
  src: url("../assets/font/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/font/NotoSans-Bold.ttf") format("truetype"), url("../assets/font/NotoSans-Bold.woff") format("woff"), url("../assets/font/NotoSans-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Noto';
  src: url("../assets/font/NotoSans-Italic.eot");
  src: url("../assets/font/NotoSans-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/font/NotoSans-Italic.ttf") format("truetype"), url("../assets/font/NotoSans-Italic.woff") format("woff"), url("../assets/font/NotoSans-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Noto';
  src: url("../assets/font/NotoSans-BoldItalic.eot");
  src: url("../assets/font/NotoSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/NotoSans-BoldItalic.ttf") format("truetype"), url("../assets/font/NotoSans-BoldItalic.woff") format("woff"), url("../assets/font/NotoSans-BoldItalic.svg") format("svg");
  font-weight: bold;
  font-style: italic;
}
/* Модальное окно */
/* line 4, style.scss */
* {
  box-sizing: border-box;
}

/* line 7, style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto', arial;
  overflow-x: hidden;
  background-color: #ffffff;
  box-sizing: border-box;
}

/* Стиль по умолчанию */
/* line 1, _page.scss */
.sirius {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  font-family: "Noto";
}
/* line 13, _page.scss */
.sirius__header {
  padding-top: 15px;
  align-items: center;
  min-height: 55px;
  margin-bottom: 30px;
}
/* line 18, _page.scss */
.sirius__header .sirius__big {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
/* line 25, _page.scss */
.sirius__header__logo {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: "Poppins";
}
/* line 33, _page.scss */
.sirius__header__logo img {
  width: 32px;
  display: block;
  margin-right: 15px;
}
/* line 38, _page.scss */
.sirius__header__logo h2 {
  margin: 0;
  color: #11142D;
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
}
/* line 46, _page.scss */
.sirius__header__search {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background-color: rgba(247, 247, 247, 0.61);
  height: 40px;
  border-radius: 20px;
  position: relative;
  padding: 0 20px;
}
/* line 59, _page.scss */
.sirius__header__search input {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  line-height: 40px;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
}
/* line 69, _page.scss */
.sirius__header__search input::placeholder {
  color: #808191;
}
/* line 73, _page.scss */
.sirius__header__search a {
  display: inline-block;
  height: 16px;
  width: 16px;
  text-decoration: none;
  cursor: pointer;
}
/* line 81, _page.scss */
.sirius__header__btn {
  display: inline-block;
  height: 32px;
  width: 32px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 12px;
}
/* line 88, _page.scss */
.sirius__header__btn:hover {
  opacity: 0.6;
}
/* line 91, _page.scss */
.sirius__header__btn i {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 96, _page.scss */
.sirius__header__btn-search {
  display: inline-block;
  height: 32px;
  width: 32px;
  text-decoration: none;
  cursor: pointer;
}
/* line 102, _page.scss */
.sirius__header__btn-search:hover {
  opacity: 0.6;
}
/* line 105, _page.scss */
.sirius__header__btn-search i {
  width: 100%;
  height: 100%;
  display: block;
  background-size: auto 16px;
}
/* line 112, _page.scss */
.sirius__header__btn-alert {
  display: inline-block;
  height: 32px;
  width: 32px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 12px;
  position: relative;
}
/* line 120, _page.scss */
.sirius__header__btn-alert__num {
  position: absolute;
  display: inline-block;
  font-size: 10px;
  font-weight: normal;
  color: #ffffff;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: center;
  text-align: center;
  border-radius: 50%;
  background-color: #FF5E5E;
  right: 0;
  top: 0;
  box-shadow: 0px 3px 4px -1px rgba(255, 94, 94, 0.6);
}
/* line 138, _page.scss */
.sirius__header__btn-alert:hover i {
  opacity: 0.6;
}
/* line 142, _page.scss */
.sirius__header__btn-alert i {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 148, _page.scss */
.sirius__header__btn-user {
  margin-left: 12px;
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 162, _page.scss */
.sirius__header__group-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-left: auto;
}
/* line 171, _page.scss */
.sirius__small {
  width: 180px;
  margin-right: 20px;
}
/* line 175, _page.scss */
.sirius__big {
  width: calc(((100% - 200px) / 2) - 20px);
  margin-right: 10px;
  margin-left: 10px;
}
/* line 180, _page.scss */
.sirius__side-bar {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 187, _page.scss */
.sirius__side-bar__title {
  display: inline-block;
  margin-left: 4px;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
  color: #808191;
  margin-bottom: 20px;
}
/* line 196, _page.scss */
.sirius__side-bar__link {
  display: inline-block;
  text-decoration: none;
  margin-left: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #000000;
  margin-bottom: 20px;
}
/* line 205, _page.scss */
.sirius__side-bar__link:hover {
  opacity: 0.6;
}
/* line 209, _page.scss */
.sirius__side-bar__separate {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
  margin-bottom: 20px;
}
/* line 217, _page.scss */
.sirius__info-block {
  width: 100%;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 6px 44px -10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 228, _page.scss */
.sirius__info-block__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 16px;
}
/* line 236, _page.scss */
.sirius__info-block__header__title {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  color: #11142D;
  margin-bottom: 0;
  margin-top: 0;
}
/* line 245, _page.scss */
.sirius__info-block__body {
  width: 100%;
  margin-bottom: 20px;
}
/* line 249, _page.scss */
.sirius__info-block__footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
/* line 257, _page.scss */
.sirius__info-block__col-colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
/* line 263, _page.scss */
.sirius__info-block__col-colors .col-colors__item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  color: #A1B9CD;
  font-size: 12px;
  line-height: 16px;
  margin-right: 24px;
}
/* line 273, _page.scss */
.sirius__info-block__col-colors .col-colors__item i {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  background-color: #FF5E5E;
}
/* line 284, _page.scss */
.sirius__info-block__col-colors .col-colors__blue i {
  background-color: #74DBEF;
}
/* line 289, _page.scss */
.sirius__info-block__col-colors .col-colors__violet i {
  background-color: #6C5DD1;
}
/* line 294, _page.scss */
.sirius__info-block__col-colors .col-colors__gray i {
  background-color: #A1B9CD;
}
/* line 300, _page.scss */
.sirius__info-block__chart {
  width: 100%;
  position: relative;
}
/* line 303, _page.scss */
.sirius__info-block__chart .chart {
  width: 100%;
  position: relative;
  height: 280px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}
/* line 315, _page.scss */
.sirius__info-block__chart .chart:before {
  content: "";
  width: 100%;
  height: 50%;
  display: block;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 328, _page.scss */
.sirius__info-block__chart .chart:after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  z-index: 1;
  position: absolute;
  background-color: #E5E5E5;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 340, _page.scss */
.sirius__info-block__chart .chart__section {
  position: relative;
  height: 100%;
  min-width: 20px;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  background: linear-gradient(180deg, #F5F8FB 0%, rgba(245, 248, 251, 0) 100%);
}
/* line 352, _page.scss */
.sirius__info-block__chart .chart__section:nth-child(2n) {
  background: #ffffff;
}
/* line 355, _page.scss */
.sirius__info-block__chart .chart__section__name {
  position: absolute;
  left: 50%;
  bottom: -28px;
  color: #A1B9CD;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  transform: translateX(-50%);
}
/* line 365, _page.scss */
.sirius__info-block__chart .chart__section__value {
  position: relative;
  width: 8px;
  margin: 0 2px;
  border-radius: 2px;
  z-index: 2;
  background-color: #FF5E5E;
}
/* line 373, _page.scss */
.sirius__info-block__chart .chart__section__value.value__blue {
  background-color: #74DBEF;
}
/* line 376, _page.scss */
.sirius__info-block__chart .chart__section__value.value__grey {
  background-color: #A1B9CD;
}
/* line 379, _page.scss */
.sirius__info-block__chart .chart__section__value.value__violet {
  background-color: #6C5DD1;
}
/* line 388, _page.scss */
.sirius__news {
  width: 100%;
  position: relative;
  box-shadow: 0px 6px 44px -10px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 40px;
}
/* line 396, _page.scss */
.sirius__news__header {
  margin-bottom: 20px;
  width: 100%;
}
/* line 399, _page.scss */
.sirius__news__header__title {
  margin: 0;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  color: #11142D;
  font-weight: normal;
}
/* line 409, _page.scss */
.sirius__news__body {
  width: 100%;
}
/* line 412, _page.scss */
.sirius__news__footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 418, _page.scss */
.sirius__news__footer__btn {
  display: inline-block;
  text-decoration: none;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  padding: 0 26px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: normal;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}
/* line 429, _page.scss */
.sirius__news__footer__btn:hover {
  opacity: 0.6;
}
/* line 433, _page.scss */
.sirius__news__footer__btn.btn-violet {
  background-color: #6C5DD1;
  color: #FBFBFC;
}
/* line 437, _page.scss */
.sirius__news__footer__btn.btn-white {
  background-color: #FBFBFC;
  color: #000000;
}
/* line 444, _page.scss */
.sirius__news__card {
  position: relative;
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #E5E5E5;
}
/* line 449, _page.scss */
.sirius__news__card:last-child {
  border-bottom: none;
}
/* line 452, _page.scss */
.sirius__news__card__header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 8px;
}
/* line 461, _page.scss */
.sirius__news__card__header .icon {
  width: 20px;
  height: 20px;
  background-color: #2A72E0;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  color: #ffffff;
  margin-right: 8px;
}
/* line 471, _page.scss */
.sirius__news__card__header__category {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  font-weight: normal;
}
/* line 478, _page.scss */
.sirius__news__card__header__date {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  color: #A1B9CD;
  font-weight: normal;
  margin-left: auto;
}
/* line 486, _page.scss */
.sirius__news__card__header__status {
  margin-left: 10px;
  display: inline-block;
  font-size: 10px;
  line-height: 14px;
  vertical-align: middle;
  height: 14px;
  padding: 0 4px;
  background-color: rgba(97, 201, 89, 0.6);
  color: #FBFBFC;
  font-weight: normal;
  border-radius: 7px;
}
/* line 500, _page.scss */
.sirius__news__card__title {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  margin-bottom: 8px;
}
/* line 509, _page.scss */
.sirius__news__card__title:hover {
  opacity: 0.6;
}
/* line 513, _page.scss */
.sirius__news__card__text {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}
/* line 521, _page.scss */
.sirius__news__card__text b {
  font-weight: bold;
}
/* line 523, _page.scss */
.sirius__news__card__text b.red {
  color: #FF5E5E;
}
/* line 528, _page.scss */
.sirius__news__card__content {
  display: inline-block;
  border-radius: 8px;
  float: right;
  height: 48px;
  margin: 0 0 0 5px;
}
/* line 537, _page.scss */
.sirius__shortcuts {
  width: 100%;
  position: relative;
}
/* line 541, _page.scss */
.sirius__shortcuts__title {
  display: inline-block;
  color: #11142D;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 24px;
}
/* line 549, _page.scss */
.sirius__shortcuts__body {
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
/* line 557, _page.scss */
.sirius__shortcuts__item {
  width: 56px;
  height: 56px;
  display: inline-block;
  margin: 0 15px;
  border-radius: 16px;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  text-decoration: none;
}
/* line 566, _page.scss */
.sirius__shortcuts__item:hover {
  opacity: 0.6;
}
/* line 570, _page.scss */
.sirius__shortcuts__item.item-red {
  background-color: #FF5E5E;
}
/* line 573, _page.scss */
.sirius__shortcuts__item.item-blue {
  background-color: #31C5E1;
}
/* line 576, _page.scss */
.sirius__shortcuts__item.item-violet {
  background-color: #6C5DD3;
}
/* line 579, _page.scss */
.sirius__shortcuts__item.item-blue-dark {
  background-color: #0B7AE5;
}
/* line 582, _page.scss */
.sirius__shortcuts__item.item-yellow {
  background-color: #FFE461;
}
/* line 586, _page.scss */
.sirius__shortcuts__item__name {
  position: absolute;
  left: 50%;
  width: 80px;
  transform: translateX(-50%);
  display: inline-block;
  top: calc(100% + 16px);
  text-align: center;
  color: #000000;
}
/* line 596, _page.scss */
.sirius__shortcuts__item__num {
  position: absolute;
  display: inline-block;
  font-size: 10px;
  font-weight: normal;
  color: #ffffff;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: center;
  text-align: center;
  border-radius: 50%;
  background-color: #FF5E5E;
  right: -3px;
  top: -2px;
  box-shadow: 0px 3px 4px -1px rgba(255, 94, 94, 0.6);
}
/* line 613, _page.scss */
.sirius__shortcuts__item i {
  width: 26px;
  height: 26px;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
}

/* Основные стили */
/* Опциональные стили */
/* Медиа запросы */
